* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {

    background: #ff7978;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.message-container {
    color: white;
    text-align: center;
    padding-top: 5rem;
}

.message-container br {
    display: none;

}

.message-container h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    border: 1px solid #ff7c7c;
}

.message-container p {
    font-size: 1.2rem;
    padding: 0 30px;
    line-height: 32px;
    color: #fce5e4;
    text-align: center;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5d54a3;
    width: 90%;
    height: 6rem;
    margin: 40px auto;
    border-radius: 10px;    
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .2);
}

.ad a {
    text-decoration: none;
    color: #eeeeee;
    margin: 0 auto;
    text-align: center;
}

.ad span {
    font-weight: bolder;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, .2);
    margin-bottom: 6rem;
    padding: 30px 1em 0 1em; 
}

.form input {
    display: inline-block;
    height: 3.5rem;
    width: 100%;
    margin-bottom: 20px ;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    outline: none;
    padding: 0 1em;
    font-weight: 300;
    font-size: 1.2em;
    color: rgb(192, 191, 191);   
}



input::placeholder {
    color: rgb(211, 209, 209);
    font-weight: 300;
}

.form input.wrong {
    border: 1px solid red;
    transition: .8s;
}

.form input.correct {
    border: 1px solid #37cc8a;
    transition: .8s;
}

input.password {
    margin-bottom: 0;
    padding: 0 2.5em 0 1em;

}


.form button {
    color: white;
    background: #37cc8a;
    height: 3em;
    width: 90%;
    padding: .2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 3px 0px #3aa97e;
    transition: 1s;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.form a:hover {
    transition: 1s;
    background: #2fb177;
    
}


.form .terms {
    text-align: center;
    color: #c5c4cb;
    font-size: 1.1em;
    font-weight: 700;
    margin: 20px auto;
    cursor: pointer;
    line-height: 1.5rem;
}

.form-container b {
    color: #dc8283;
}


.msg > img {
    margin-right: 6px;
}

.password-tip {
    display: block;
    width: 100%;
    height: 1em;
    color: #ff7978;
    border-radius: 4px;
    margin: 0.7em 0;
    transition: all 0.8s ease-in;
    font-size: .9em;
}

.label {
    color: #f8d71d;
}

.showHide {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 3em;
    cursor: pointer;
    margin-top: -40px;
    
}

.hide {
    background: url("./imgs/hidepass.svg") no-repeat;
}

.show {
    background: url("./imgs/showpass.svg") no-repeat;
}

@media screen and (min-width: 640px) {
    .showHide {
        right: 3.6em;
        margin-top: -40px;
        
    }

}

@media screen and (min-width: 992px) {
    main {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }

    .menssage-container {
        padding: 0;
    }
    
    .message-container h1 {
        margin-bottom: 20px;
        text-align: left;
        width: 80%;
        margin: 20px auto;
        font-size: 3.2rem;
        line-height: 3rem;
        position: relative;
        box-shadow:  #ac4f4f 1px 10px 10px 0px;
        padding: .3em;
        animation: topToOrigin 1s steps(70);
    }

    @keyframes topToOrigin { 
        from {
            top:-500px;
        }

        to {
            top: 0;
            transition: steps(80) 1s;
        }

    } 

    .message-container p {
        line-height: 30px;
        text-align: center;
        padding: 0;
        width: 80%;
        margin: 0 auto;
        text-align: left;
        font-size: 1.2rem;
        animation: steps(50) 1s visibility;
    }

    .message-container br {
        display: block;
    
    }

    .ad {
        height: 3.5rem;
        box-shadow: 0px 8px 0px rgba(0, 0, 0, .2);
        margin: 30px auto;
        animation: steps(50) 1s visibility;        
        position: relative;
    }

    @keyframes rightToOrigin {
        from {
            right: -500px;
        }

        to {
            right: 0;
        }
    }

    .form {
        margin-bottom: 0;
        animation: steps(50) 1s visibility;
    }

    @keyframes visibility {
        from {
            opacity: 0;
        }

        to {
            opacity: 100%;
        }
    }

    .form input {
        width: 100%;
        height: 3rem;
    }
    
    
    .form button {
        width: 100%;
        height: 3em;
    }

    .form .terms {
        font-size: .9em;
    }

    .showHide {
        right: 3.6em;
        margin-top: -35px;
        
    }

  
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .forms input {
        width: 100%;
    }

    .showHide {
        right: 4em;
        margin-top: -40px;
        
    }
   
}

#text-input {
    padding: .8em;
    outline: none;
}